includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        - '#^Method [a-zA-Z0-9\\_]+\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
    checkGenericClassInNonGenericObjectType: false
