.base-theme {
    --color-primary-50: 248, 250, 251;
    --color-primary-100: 233, 240, 252;
    --color-primary-200: 209, 216, 249;
    --color-primary-300: 172, 179, 240;
    --color-primary-400: 141, 138, 229;
    --color-primary-500: 116, 101, 220;
    --color-primary-600: 95, 73, 203;
    --color-primary-700: 72, 55, 169;
    --color-primary-800: 49, 37, 122;
    --color-primary-900: 27, 23, 75;

    --color-secondary-50: 249, 250, 250;
    --color-secondary-100: 240, 241, 248;
    --color-secondary-200: 222, 219, 241;
    --color-secondary-300: 188, 182, 222;
    --color-secondary-400: 155, 140, 197;
    --color-secondary-500: 126, 103, 172;
    --color-secondary-600: 101, 75, 142;
    --color-secondary-700: 76, 56, 108;
    --color-secondary-800: 51, 38, 73;
    --color-secondary-900: 29, 23, 43;

    --color-gray-50: 249, 250, 251;
    --color-gray-100: 243, 244, 246;
    --color-gray-200: 229, 231, 235;
    --color-gray-300: 209, 213, 219;
    --color-gray-400: 156, 163, 175;
    --color-gray-500: 107, 114, 128;
    --color-gray-600: 75, 85, 99;
    --color-gray-700: 55, 65, 81;
    --color-gray-800: 31, 41, 55;
    --color-gray-900: 17, 24, 39;

    --color-warning-50: 253, 242, 248;
    --color-warning-100: 252, 231, 243;
    --color-warning-200: 251, 207, 232;
    --color-warning-300: 249, 168, 212;
    --color-warning-400: 244, 114, 182;
    --color-warning-500: 236, 72, 153;
    --color-warning-600: 219, 39, 119;
    --color-warning-700: 190, 24, 93;
    --color-warning-800: 157, 23, 77;
    --color-warning-900: 131, 24, 67;
}
