.base-theme {
    --color-primary-50: 248, 250, 251; /* #f8fafb */
    --color-primary-100: 233, 240, 252; /* #e9f0fc */
    --color-primary-200: 209, 216, 249; /* #d1d8f9 */
    --color-primary-300: 172, 179, 240; /* #acb3f0 */
    --color-primary-400: 141, 138, 229; /* #8d8ae5 */
    --color-primary-500: 116, 101, 220; /* #7465dc */
    --color-primary-600: 95, 73, 203; /* #5f49cb */
    --color-primary-700: 72, 55, 169; /* #4837a9 */
    --color-primary-800: 49, 37, 122; /* #31257a */
    --color-primary-900: 27, 23, 75; /* #1b174b */

    --color-secondary-50: 249, 250, 250; /* #f9fafa */
    --color-secondary-100: 240, 241, 248; /* #f0f1f8*/
    --color-secondary-200: 222, 219, 241; /* #dedbf1 */
    --color-secondary-300: 188, 182, 222; /* #bcb6de */
    --color-secondary-400: 155, 140, 197; /* #9b8cc5 */
    --color-secondary-500: 126, 103, 172; /* #7e67ac */
    --color-secondary-600: 101, 75, 142; /* #654b8e */
    --color-secondary-700: 76, 56, 108; /* #4c386c */
    --color-secondary-800: 51, 38, 73; /* #332649 */
    --color-secondary-900: 29, 23, 43; /* #1d172b */

    --color-gray-50: 249, 250, 251; /* #f9fafb */
    --color-gray-100: 243, 244, 246; /* #f3f4f6 */
    --color-gray-200: 229, 231, 235; /* #e5e7eb */
    --color-gray-300: 209, 213, 219; /* #d1d5db */
    --color-gray-400: 156, 163, 175; /* #9ca3af */
    --color-gray-500: 107, 114, 128; /* #6b7280 */
    --color-gray-600: 75, 85, 99; /* #4b5563 */
    --color-gray-700: 55, 65, 81; /* #374151 */
    --color-gray-800: 31, 41, 55; /* #1f2937 */
    --color-gray-900: 17, 24, 39; /* #111827 */

    --color-warning-50: 253, 242, 248; /* #fdf2f8 */
    --color-warning-100: 252, 231, 243; /* #fce7f3 */
    --color-warning-200: 251, 207, 232; /* #fbcfe8 */
    --color-warning-300: 249, 168, 212; /* #f9a8d4 */
    --color-warning-400: 244, 114, 182; /* #f472b6 */
    --color-warning-500: 236, 72, 153; /* #ec4899 */
    --color-warning-600: 219, 39, 119; /* #db2777 */
    --color-warning-700: 190, 24, 93; /* #be185d */
    --color-warning-800: 157, 23, 77; /* #9d174d */
    --color-warning-900: 131, 24, 67; /* #831843 */
}
