.lavender-theme {
    --color-primary-default: 104, 79, 196;
    --color-primary-50: 222, 216, 242;
    --color-primary-100: 209, 201, 237;
    --color-primary-200: 183, 171, 227;
    --color-primary-300: 156, 140, 217;
    --color-primary-400: 130, 109, 206;
    --color-primary-500: 104, 79, 196;
    --color-primary-600: 78, 55, 164;
    --color-primary-700: 58, 41, 122;
    --color-primary-800: 38, 27, 80;
    --color-primary-900: 18, 13, 38;

    --color-secondary-default: 112, 115, 163;
    --color-secondary-50: 224, 224, 235;
    --color-secondary-100: 211, 212, 227;
    --color-secondary-200: 186, 188, 211;
    --color-secondary-300: 162, 164, 195;
    --color-secondary-400: 137, 139, 179;
    --color-secondary-500: 112, 115, 163;
    --color-secondary-600: 86, 88, 133;
    --color-secondary-700: 64, 66, 99;
    --color-secondary-800: 42, 43, 65;
    --color-secondary-900: 20, 20, 31;

    --color-gray-default: 140, 128, 179;
    --color-gray-50: 243, 242, 247;
    --color-gray-100: 232, 230, 240;
    --color-gray-200: 209, 204, 224;
    --color-gray-300: 186, 179, 209;
    --color-gray-400: 163, 153, 194;
    --color-gray-500: 140, 128, 179;
    --color-gray-600: 111, 96, 159;
    --color-gray-700: 89, 77, 128;
    --color-gray-800: 66, 57, 96;
    --color-gray-900: 44, 38, 64;

    --color-warning-default: 163, 112, 163;
    --color-warning-50: 235, 224, 235;
    --color-warning-100: 227, 211, 227;
    --color-warning-200: 211, 186, 211;
    --color-warning-300: 195, 162, 195;
    --color-warning-400: 179, 137, 179;
    --color-warning-500: 163, 112, 163;
    --color-warning-600: 133, 86, 133;
    --color-warning-700: 99, 64, 99;
    --color-warning-800: 65, 42, 65;
    --color-warning-900: 31, 20, 31;
}
