.solarized-theme {
    --color-primary-50: 235, 225, 252; /* #EBE1FC */
    --color-primary-100: 221, 204, 250; /* #DDCCFA */
    --color-primary-200: 194, 162, 246; /* #C2A2F6 */
    --color-primary-300: 166, 120, 243; /* #A678F3 */
    --color-primary-400: 139, 78, 239; /* #8B4EEF */
    --color-primary-500: 111, 35, 235; /* #6F23EB */
    --color-primary-600: 86, 18, 196; /* #5612C4 */
    --color-primary-700: 63, 13, 145; /* #3F0D91 */
    --color-primary-800: 41, 9, 93; /* #29095D */
    --color-primary-900: 18, 4, 42; /* #12042A */
    --color-primary-default: 111, 35, 235; /* #6F23EB */

    --color-secondary-50: 211, 238, 253; /* #D3EEFD */
    --color-secondary-100: 192, 231, 252; /* #C0E7FC */
    --color-secondary-200: 153, 216, 250; /* #99D8FA */
    --color-secondary-300: 114, 201, 248; /* #72C9F8 */
    --color-secondary-400: 75, 186, 246; /* #4BBAF6 */
    --color-secondary-500: 36, 171, 244; /* #24ABF4 */
    --color-secondary-600: 10, 136, 204; /* #0A88CC */
    --color-secondary-700: 7, 94, 141; /* #075E8D */
    --color-secondary-800: 4, 52, 78; /* #04344E */
    --color-secondary-900: 1, 10, 15; /* #010A0F */
    --color-secondary-default: 36, 171, 244; /* #24ABF4 */

    --color-gray-50: 237, 227, 201; /* #EDE3C9 */
    --color-gray-100: 232, 219, 186; /* #E8DBBA */
    --color-gray-200: 222, 204, 156; /* #DECC9C */
    --color-gray-300: 212, 188, 125; /* #D4BC7D */
    --color-gray-400: 201, 172, 94; /* #C9AC5E */
    --color-gray-500: 191, 156, 64; /* #BF9C40 */
    --color-gray-600: 149, 122, 50; /* #957A32 */
    --color-gray-700: 107, 88, 36; /* #6B5824 */
    --color-gray-800: 65, 53, 22; /* #413516 */
    --color-gray-900: 23, 19, 8; /* #171308 */
    --color-gray-default: 191, 156, 64; /* #BF9C40 */

    --color-warning-50: 253, 238, 246; /* #FDEEF6 */
    --color-warning-100: 251, 220, 235; /* #FBDCEB */
    --color-warning-200: 248, 183, 215; /* #F8B7D7 */
    --color-warning-300: 244, 146, 194; /* #F492C2 */
    --color-warning-400: 240, 109, 174; /* #F06DAE */
    --color-warning-500: 236, 72, 153; /* #EC4899 */
    --color-warning-600: 228, 24, 125; /* #E4187D */
    --color-warning-700: 177, 18, 97; /* #B11261 */
    --color-warning-800: 127, 13, 69; /* #7F0D45 */
    --color-warning-900: 76, 8, 41; /* #4C0829 */
    --color-warning-default: 236, 72, 153; /* #EC4899 */
}
