@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-bottom: 0 !important;
}

@layer base {
    /**
    * Miscellaneous
    */
    .color-scheme-dark {
        color-scheme: dark;
    }
}

@layer components {
    /**
     * Inputs
     */
    .label-required:after {
        @apply text-pink-600 ml-1;

        content: '*';
    }

    /**
     * Typography
     */
    .text-muted {
        @apply text-gray-500;
    }

    kbd {
        @apply px-1.5 py-1 font-bold text-xs text-gray-500 border border-gray-300 dark:border-gray-600 bg-gray-100 dark:bg-gray-700 rounded whitespace-nowrap;
    }

    /**
     * Custom mini scrollbar (vertical
     */
    .scrollbar-y-sm::-webkit-scrollbar {
        @apply w-1.5;
    }
    .scrollbar-y-sm::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .scrollbar-y-sm::-webkit-scrollbar-thumb {
        @apply bg-gray-600/50 dark:bg-gray-400/50 rounded;
    }
    .scrollbar-y-sm::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-700/50 dark:bg-gray-300/50;
    }

    /**
     * Custom mini scrollbar (horizontal)
     */
    .scrollbar-x-sm::-webkit-scrollbar {
        @apply h-1.5;
    }
    .scrollbar-x-sm::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .scrollbar-x-sm::-webkit-scrollbar-thumb {
        @apply bg-gray-600/50 dark:bg-gray-400/50 rounded;
    }
    .scrollbar-x-sm::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-700/50 dark:bg-gray-300/50;
    }

    /**
     * Links
     */
    .link-primary {
        @apply text-violet-600 dark:text-violet-400 underline decoration-transparent hover:decoration-violet-600 dark:hover:decoration-violet-400 transition;
    }

    .link-secondary {
        @apply font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-gray-500 transition;
    }
    .link-light {
        @apply font-semibold text-violet-200 hover:text-white underline decoration-transparent hover:decoration-violet-300 focus:outline focus:outline-2 focus:rounded-sm focus:outline-gray-500 transition;
    }

    /**
     * Welcome Button
     */
    .button-welcome {
        @apply inline-flex items-center transition ease-in disabled:opacity-50 disabled:cursor-not-allowed text-sm tracking-widest font-semibold focus:ring-1 rounded-md px-4 py-3 sm:py-2 focus:shadow-md dark:focus:shadow-black text-violet-200 border border-white/25 hover:bg-white/25 focus:ring-white/50;
    }
}
