@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-bottom: 0 !important;
}

@layer base {
    /**
    * Miscellaneous
    */
    .color-scheme-dark {
        color-scheme: dark;
    }
}

@layer components {
    /**
     * Inputs
     */
    .label-required:after {
        @apply text-pink-600 ml-1;

        content: '*';
    }

    /**
     * Typography
     */
    .text-muted {
        @apply text-gray-500;
    }

    kbd {
        @apply px-1.5 py-1 font-bold text-xs text-gray-500 border border-gray-300 dark:border-gray-600 bg-gray-100 dark:bg-gray-700 rounded whitespace-nowrap;
    }

    /**
     * Custom mini scrollbar (vertical
     */
    .scrollbar-y-sm::-webkit-scrollbar {
        @apply w-1.5;
    }
    .scrollbar-y-sm::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .scrollbar-y-sm::-webkit-scrollbar-thumb {
        @apply bg-gray-600/50 dark:bg-gray-400/50 rounded;
    }
    .scrollbar-y-sm::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-700/50 dark:bg-gray-300/50;
    }

    /**
     * Custom mini scrollbar (horizontal)
     */
    .scrollbar-x-sm::-webkit-scrollbar {
        @apply h-1.5;
    }
    .scrollbar-x-sm::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .scrollbar-x-sm::-webkit-scrollbar-thumb {
        @apply bg-gray-600/50 dark:bg-gray-400/50 rounded;
    }
    .scrollbar-x-sm::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-700/50 dark:bg-gray-300/50;
    }

    /**
     * Links
     */
    .link-primary {
        @apply text-indigo-600 dark:text-indigo-400 underline decoration-transparent hover:decoration-indigo-600 dark:hover:decoration-indigo-400 transition;
    }

    .link-secondary {
        @apply font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-gray-500 transition;
    }
    .link-light {
        @apply font-semibold text-indigo-200 hover:text-white border-b-2 border-b-indigo-200/20 hover:border-b-indigo-200/50 focus:outline focus:outline-2 focus:rounded-sm focus:outline-gray-500 transition;
    }
}
